@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Anti-aliasing */
* {
  -webkit-font-smoothing: antialiased; /* For WebKit (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale;  /* For Firefox on macOS */
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides((
    container-background-color: #005CB0,
    container-text-color: white,
  ));
}
