@use '@angular/material' as mat;
@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FFF7E8;
}

/* Anti-aliasing */
* {
  -webkit-font-smoothing: antialiased; /* For WebKit (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
}

@include mat.toolbar-overrides((
  container-background-color: #005CB0,
  container-text-color: white,
));

.container {
  display: flex;
  flex-direction: column;
}

.highlight {
  background-color: v.$color-accent;
}

.page__hero {
  background: v.$color-accent;
  font-size: v.$font-size-lg;
  text-align: center;

  &-title {
    color: v.$color-secondary;
  }
}

.section {
  padding: 20px;

  &__title {
    color: v.$color-secondary;
    text-align: left;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;

    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    img {
      max-width: 200px;
      width: 100%;
      height: auto;
      object-fit: contain;
      flex-shrink: 0;
    }
  }

  &__text {
    flex: 1;

    p {
      margin-bottom: 10px;
    }
  }
}
