<div class="beurs-info-page">
  <div class="beurs-info-page__hero">
    <h1 class="beurs-info-page__hero-title">BEURSINFO</h1>
  </div>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section--left">
      <div class="beurs-info-page__section-content">
        <img src="public/kaarten.png"/>
        <div class="beurs-info-page__text">
          <h2 class="beurs-info-page__section-title">LOCATIE EN TIJDEN</h2>
          <div class="align-icons">
            <mat-icon class="location">location_on</mat-icon>
            <div class="align-icons__text">
              <p>Beurshal X</p>
              <p>Testweg 12</p>
            </div>
          </div>
          <div class="align-icons">
            <mat-icon class="clock">schedule</mat-icon>
            <div class="align-icons__text">
              <p>10 oktober 2025</p>
              <p>10:00 - 18:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">ENTREE</h2>
        <p>
          Bestel je tickets vooraf online en bespaar 2 euro per ticket of koop ze op de dag zelf bij de ingang. De
          tickets zijn geldig voor de gehele beursdag.
          VIP & Early Bird tickets zijn alleen online te koop. De VIP tickets zijn inclusief een goodiebag en toegang
          tot de VIP lounge. Er zijn 100 Early Bird tickets beschikbaar, welke toegang geven tot de
          beurs een uur voor de officiële openingstijd. De Early Bird tickets zijn inclusief een pakje pokemon kaarten.
        </p>
      </div>
      <img src="public/kaarten.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section highlight">
    <div class="beurs-info-page__section-content">
      <img src="public/kaarten.png"/>
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">PROGRAMMA</h2>
        <p>
          Het programma van de beurs is nog niet bekend. Houd deze pagina in de gaten voor meer informatie.
        </p>
        <p>
          De beurs is van 10:00 tot 18:00 uur geopend. Het programma start om 10:30 uur en eindigt om 17:30 uur.
        </p>
      </div>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">EXPOSANTEN</h2>
        <p>
          Het overzicht van exposanten is nog niet bekend. Houd deze pagina in de gaten voor meer informatie.
        </p>
      </div>
      <img src="public/kaarten.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <img src="public/kaarten.png"/>
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">BEREIKBAARHEID</h2>
        <p>
          De beurs is goed bereikbaar met het openbaar vervoer. Er zijn voldoende parkeerplaatsen voor de deur. De
          dichtstbijzijnde bushalte is op 5 minuten loopafstand. De dichtstbijzijnde treinhalte is op 10 minuten
          loopafstand. Er zijn ook voldoende fietsenstallingen voor de deur.
        </p>
      </div>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">ETEN & DRINKEN</h2>
        <p>
          Er zijn verschillende eet- en drinkgelegenheden op de beurs. Er is een foodcourt met verschillende keukens,
          een bar en een koffiecorner. Er is ook een restaurant met een terras. Het is niet toegestaan om zelf
          eten en drinken mee te nemen naar de beurs.
        </p>
      </div>
      <img src="public/kaarten.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <img src="public/kaarten.png"/>
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">REGLEMENT</h2>
        <p>
          Het reglement is van toepassing op alle bezoekers van de beurs. Bij overtreding van het reglement kan de
          organisatie besluiten om de bezoeker de toegang tot de beurs te ontzeggen. De organisatie is niet
          aansprakelijk voor schade of letsel ontstaan door het niet naleven van het reglement.

          Het reglement vindt u <a href="/reglement" target="_blank">hier</a>.
        </p>
      </div>
    </div>
  </div>
</div>
