@use '../../variables' as v;
@use '../../mixins' as m;

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__cta {
    @include m.flex-center(column, v.$spacing-md);
    background-color: v.$color-primary;
    //background: url('/public/banner.png') no-repeat center center;
    //background-size: cover;

    width: 100%;
    padding: v.$spacing-xl;
    text-align: center;
  }

  &__cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include m.heading-style(100px, v.$color-text-light);
    -webkit-text-stroke: 4px v.$color-text-dark;
  }

  &__title span {
    font-size: 80px;
    margin-bottom: -40px;
  }

  &__tagline {
    color: v.$color-accent;
    font-size: v.$font-size-xxl;
    margin-top: -50px;
  }

  &__cta-button {
    font-family: v.$font-family-primary;
    font-size: v.$font-size-lg;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: v.$color-accent-secondary;
    color: v.$color-text-light;
    border: 6px solid v.$color-text-dark;
    border-radius: v.$border-radius-pill;
    padding: v.$spacing-sm v.$spacing-xl;
    margin-top: v.$spacing-md;
    cursor: pointer;

    &:hover {
      background-color: lighten(v.$color-accent-secondary, 10%);
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    padding: v.$spacing-xl;
    width: 100%;
    text-align: center;

    &--icon {
      @include m.flex-center(row, v.$spacing-lg);
      gap: v.$spacing-lg;

      @include m.respond-to(sm) {
        flex-direction: column;
      }
    }

    &--highlight {
      background-color: v.$color-accent;
      color: v.$color-text-dark;
      padding: v.$spacing-lg;
    }
  }

  &__heading {
    @include m.heading-style(v.$font-size-xxl, v.$color-secondary);
    margin-bottom: v.$spacing-md;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-top: v.$spacing-sm;

    li {
      font-size: v.$font-size-lg;
      color: v.$color-text-dark;
      margin-bottom: v.$spacing-sm;
    }
  }
}
