<app-header></app-header>

<div class="landing-page">
  <div class="landing-page__cta">
    <div class="landing-page__cta-container">
      <h1 class="landing-page__title">
        <span>WELKOM BIJ</span>
        CATCH & COLLECT!
      </h1>
      <p class="landing-page__tagline">De beurs voor fans, verzamelaars en magische ruilavonturen!</p>
      <button class="landing-page__cta-button">BESTEL JE TICKETS</button>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="landing-page__section landing-page__section--icon">
    <div class="landing-page__content">
      <h2 class="landing-page__heading">WAT IS CATCH & COLLECT?</h2>
      <p class="landing-page__description">
        Splash of Magic en Magic Traders presenteren met trots Catch & Collect, de beurs voor verzamelaars van
        Pokémon, Lorcana, Magic: The Gathering, Yu-Gi-Oh! en andere verzamelkaarten. Het is een plek waar je
        je verzameling kunt uitbreiden, ruilen met andere verzamelaars en nieuwe vrienden kunt maken die
        dezelfde passie delen. Of je nu een doorgewinterde verzamelaar bent of net begint, Catch & Collect
        biedt voor elk wat wils. Van zeldzame kaarten tot merchandise, je vindt het allemaal op onze beurs.
        Kom langs en ontdek de wereld van verzamelkaarten!
      </p>
    </div>
    <p class="landing-page__test">TEST</p>
  </div>

  <app-separator></app-separator>

  <div class="landing-page__section landing-page__section--highlight">
    <h2 class="landing-page__heading">WAT KUN JE VERWACHTEN?</h2>
    <ul class="landing-page__list">
      <li>
        <img src="assets/icons/collectible_cards.svg" alt="Collectible Cards Icon" class="landing-page__icon">
        Kaarten ruilen & kopen
      </li>
      <li>
        <img src="assets/icons/merchandise.svg" alt="Merchandise Icon" class="landing-page__icon">
        Exclusieve merchandise en zeldzame kaarten
      </li>
      <li>
        <img src="assets/icons/collectible_games.svg" alt="Collectible Games Icon" class="landing-page__icon">
        Speciale gasten & 200+ kramen
      </li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
