<footer class="footer">
  <div class="footer__container">
    <div class="footer__columns">
      <div class="footer__column">
        <h3 class="footer__heading">Catch & Collect</h3>
      </div>
      <div class="footer__column">
        <h3 class="footer__heading">Contact</h3>
        <p>E-mail: <a href="mailto:info@splashofmagic.nl">info&#64;splashofmagic.nl</a></p>
        <p>Tel: <a href="tel:0619857112">06-19857112</a></p>
        <p>Adres: Wattbaan 16, 3439ML, Nieuwegein</p>
        <p>KvK: 93211635</p>
      </div>
      <div class="footer__column">
        <h3 class="footer__heading">Volg ons</h3>
        <p><a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
        <p><a href="https://www.instagram.com/" target="_blank">Instagram</a></p>
      </div>
      <div class="footer__column">
        <h3 class="footer__heading">Juridisch</h3>
        <p><a href="/terms-of-service">Terms of Service</a></p>
        <p><a href="/privacy-policy">Privacy Policy</a></p>
        <p><a href="/cookie-policy">Cookie Policy</a></p>
      </div>
    </div>
  </div>
</footer>
