@use '../../../variables' as v;
@use '../../../mixins' as m;

.footer {
  background-color: v.$color-text-dark;
  color: v.$color-text-light;
  padding: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;

    //@include m.responsive('mobile') {
    //  flex-direction: column;
    //  align-items: center;
    //}
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;

    //@include m.responsive('mobile') {
    //  align-items: center;
    //  text-align: center;
    //}
  }

  &__heading {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: v.$color-accent;
  }

  a {
    color: v.$color-text-light;
    text-decoration: none;

    &:hover {
      color: v.$color-accent;
    }
  }
}
