<div class="beurs-info-page">
  <div class="beurs-info-page__hero">
    <h1 class="beurs-info-page__hero-title">BEURSINFO</h1>
  </div>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section--left">
      <div class="beurs-info-page__section-content">
        <img src="public/kaarten.png"/>
        <div class="beurs-info-page__text">
          <h2 class="beurs-info-page__section-title">LOCATIE EN TIJDEN</h2>
          <div class="align-icons">
            <mat-icon class="location">location_on</mat-icon>
            <div class="align-icons__text">
              <p>Beurshal X</p>
              <p>Testweg 12</p>
            </div>
          </div>
          <div class="align-icons">
            <mat-icon class="clock">schedule</mat-icon>
            <div class="align-icons__text">
              <p>10 oktober 2025</p>
              <p>11:00 - 18:00 (normaal)</p>
              <p>10:00 - 18:00 (VIP)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">ENTREE</h2>
        <p>
          Bestel je tickets vooraf online, hierdoor ben je sneller binnen en bespaar je 2 euro per ticket.
        </p>
        <ul>
          <li>Normaal ticket: € 10,00 (€ 12 aan de deur)</li>
          <li>VIP ticket: € 25,00 (alleen online verkrijgbaar)</li>
          <li>Familieticket (max. 4 personen): € 35,00 (€ 37,00 aan de deur)</li>
          <li>Middagticket: € 5,00 (vanaf 15.00, alleen verkrijgbaar aan de deur)</li>
          <li>Kinderen t/m 5 jaar mogen gratis naar binnen!</li>
        </ul>
        <p>
          Op de dag zelf zijn toegangstickets alleen aan de deur te koop.
          <br/>VIP tickets zijn alleen online te koop. Met een VIP ticket krijg je een uur eerder toegang tot de
          beurs en is inclusief een goodiebag. <br/>De VIP tickets zijn beperkt beschikbaar. Wees er snel bij!
        </p>
      </div>
      <img src="public/kaarten.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section highlight">
    <div class="beurs-info-page__section-content">
      <img src="public/kaarten.png"/>
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">PROGRAMMA</h2>
        <p>
          Het programma van de beurs is nog niet bekend. Houd deze pagina in de gaten voor meer informatie.
        </p>
        <p>
          De beurs is van 11:00* tot 18:00 uur geopend. Het programma start om 11:00 uur en eindigt om 17:30 uur.
          <br/>*voor VIP bezoekers is de beurs geopend van 10:00 tot 18:00 uur.
        </p>
      </div>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">EXPOSANTEN</h2>
        <p>
          Het overzicht van exposanten is nog niet bekend. Houd deze pagina in de gaten voor meer informatie.
        </p>
      </div>
      <img src="public/kaarten.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <img src="public/kaarten.png"/>
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">BEREIKBAARHEID</h2>
        <h3>Parkeren</h3>
        <p>
          De beurs is goed bereikbaar met de auto. Er zijn voldoende gratis parkeerplaatsen voor de deur.
        </p>
        <h3>Openbaar vervoer</h3>
        <p>
          De beurs is goed bereikbaar met het openbaar vervoer. De dichtstbijzijnde bushalte is op 10 minuten
          loopafstand. Neem bus 123 vanaf station Utrecht Centraal en stap uit bij halte Testweg.
        </p>
        <h3>Fietsen</h3>
        <p>
          De beurs is goed bereikbaar met de fiets. Er zijn voldoende fietsenstallingen voor de deur.
        </p>
      </div>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">ETEN & DRINKEN</h2>
        <p>
          Er zijn verschillende eet- en drinkgelegenheden op de beurs. Er is een foodcourt met verschillende keukens,
          een bar en een koffiecorner. Er is ook een restaurant met een terras. Het is niet toegestaan om zelf
          eten en drinken mee te nemen naar de beurs.
        </p>
      </div>
      <img src="public/kaarten.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <img src="public/kaarten.png"/>
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">TIPS</h2>
        <ul>
          <li>Neem voldoende tijd om de beurs te bezoeken er staan immers meer dan 200+ kramen.</li>
          <li>Neem contant geld mee, niet alle kramen hebben een pinapparaat.</li>
          <li>Neem een tas mee voor al je aankopen.</li>
          <li>Comfortable schoenen zijn aan te raden.</li>
          <li>Neem een vriend(in) of familielid mee, het is altijd leuker om samen te gaan.</li>
        </ul>
      </div>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="beurs-info-page__section">
    <div class="beurs-info-page__section-content">
      <div class="beurs-info-page__text">
        <h2 class="beurs-info-page__section-title">REGLEMENT</h2>
        <p>
          Het reglement is van toepassing op alle bezoekers van de beurs. Bij overtreding van het reglement kan de
          organisatie besluiten om de bezoeker de toegang tot de beurs te ontzeggen. De organisatie is niet
          aansprakelijk voor schade of letsel ontstaan door het niet naleven van het reglement.

          Het reglement vindt u <a href="/reglement" target="_blank">hier</a>.
        </p>
      </div>
    </div>
  </div>
</div>
