<div class="container">
  <div class="page__hero">
    <h1 class="page__hero-title">STANDHOUDERS</h1>
  </div>

  <div class="section">
    <div class="section__content">
      <div class="section__text">
        <h2 class="section__title">Word standhouder op Catch & Collect!</h2>
        <p>
          Catch & Collect is een gloednieuw evenement voor fans van Pokémon, ruilkaarten, collectibles, anime en
          fantasy. Op vrijdag 10 oktober 2025 vindt de eerste editie plaats in Beurshal X, en jij kunt er als
          standhouder vanaf het allereerste begin bij zijn!
        </p>
      </div>
      <img src="public/ticket.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="section">
    <div class="section__content">
      <div class="section__text">
        <h2 class="section__title">Waarom deelnemen als standhouder?</h2>
        <p>
          Als standhouder op de eerste editie van Catch & Collect krijg je de kans om:
        </p>
        <ul>
          <li>Deel uit te maken van een nieuw en groeiend evenement</li>
          <li>Een breed publiek van verzamelaars, fans en gezinnen te bereiken</li>
          <li>Jouw winkel, webshop of creatieve werk te presenteren</li>
          <li>Jouw producten of diensten te verkopen</li>
          <li>Nieuwe klanten en contacten op te bouwen</li>
        </ul>
        <p>
          We doen er alles aan om van deze eerste editie een geslaagd en sfeervol evenement te maken. Denk aan goede
          promotie, leuke randactiviteiten en een fijne beursindeling.
        </p>
      </div>
      <img src="public/ticket.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="section">
    <div class="section__content">
      <div class="section__text">
        <h2 class="section__title">Wat bieden wij?</h2>
        <ul>
          <li>Een goed georganiseerde beursvloer met voldoende loopruimte</li>
          <li>Gratis promotie van jouw stand via onze website en social media</li>
          <li>Voor ondernemers hebben we de optie voor standaard of VIP-standplaatsen</li>
          <li>Net begonnen als ondernemer of ben je een kunstenaar? Dan hebben we speciale kleine ondernemerstands
            (beperkt, vol = vol, dus wees er snel bij)
          </li>
          <li>Extra stoelen en elektriciteit op aanvraag</li>
        </ul>
      </div>
      <img src="public/ticket.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="section">
    <div class="section__content">
      <div class="section__text">
        <h2 class="section__title">Wat voor stands zoeken we?</h2>
        <p>We zoeken een leuke mix van standhouders met aanbod zoals:</p>
        <ul>
          <li>Pokémon en andere TCG</li>
          <li>Retro & moderne games</li>
          <li>Collectibles, Funko Pops, figurines</li>
          <li>Anime en manga merchandise</li>
          <li>Handmade en artist alley-achtige producten</li>
          <li>Fantasy en geek (lifestyle / cosplay) producten</li>
        </ul>
      </div>
      <img src="public/ticket.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="section">
    <div class="section__content">
      <div class="section__text">
        <h2 class="section__title">Wat we níet zoeken</h2>
        <p>Om het thema van de beurs duidelijk te houden, zijn wij niet op zoek naar:</p>
        <ul>
          <li>Foodtrucks of etenswaren (inclusief snoep/koffie/thee)</li>
          <li>Bedrijven zonder directe link met verzamelitems, fandoms of geek culture</li>
          <li>Politieke of religieuze stands</li>
          <li>Tweedehands kleding buiten cosplay/geek-thema</li>
          <li>Piraterij of namaakproducten (officiële producten en/of eigen creaties zijn wel welkom)</li>
        </ul>
        <p>Heb je twijfels of jouw aanbod geschikt is? Neem gerust contact met ons op.</p>
      </div>
      <img src="public/ticket.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="section">
    <div class="section__content">
      <div class="section__text">
        <h2 class="section__title">Voor kleine ondernemers en hobbyverkopers</h2>
        <p>
          Ben je een kleine ondernemer of hobbyist met leuke producten?
          Catch & Collect is er ook voor jou! Of je nu zelfgemaakte knuffels, eigen ontwerpen, prints, buttons of
          iets anders creatiefs verkoopt — er is ruimte voor creativiteit en passie.<br/>
          We bieden een toegankelijke instap met:
        </p>
        <ul>
          <li>Betaalbare tafelverhuur</li>
          <li>Mogelijkheid tot delen van een tafel met een vriend(in)</li>
          <li>Vriendelijke en toegankelijke organisatie</li>
          <li>Let op! We hebben een beperkt aantal standplaatsen voor kleine ondernemers, op = op!</li>
        </ul>
        <p>
          Ook zonder KvK-nummer kun je deelnemen, zolang je aanbod past binnen het thema van de beurs.<br/>
          Stuur ons een e-mail als je vragen hebt, meer informatie wilt over de mogelijkheden of als je een standplaats
          wilt huren als kleine ondernemer of hobbyverkoper.
        </p>
      </div>
      <img src="public/ticket.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="section">
    <div class="section__content">
      <div class="section__text">
        <h2 class="section__title">Praktische informatie</h2>
        <ul>
          <li>Datum: 10 oktober 2025</li>
          <li>Locatie: Beurshal X, Testweg 12</li>
          <li>Tijd: 11:00 – 18:00 (VIP-toegang vanaf 10:00)</li>
        </ul>
        <ul>
          Standopties:
          <li>Standaard: Tafel van 1,80 m inclusief stoelen (2 personen per tafel)</li>
          <li>
            Kleine ondernemer: Tafel van 1,80 m inclusief stoelen (1/2 of 1 max. p.p., tegen een gereduceerd tarief)
          </li>
          <li>
            VIP-standplaatsen: Per beurs zijn er 4 VIP-standplaatsen van 35 m2 met vrije indeling (4 personen per
            VIP-standplaats)
          </li>
          <li>Mogelijkheid tot stroomaansluiting (beperkt beschikbaar)</li>
          <li>Opbouw op de avond voor het event is mogelijk (18:00 - 21:00)</li>
        </ul>
      </div>
      <img src="public/ticket.png"/>
    </div>
  </div>

  <app-separator></app-separator>

  <div class="section">
    <div class="section__content">
      <div class="section__text">
        <h2 class="section__title">Inschrijven als standhouder</h2>
        <p>Wil je erbij zijn? Meld je dan aan via het formulier:</p>
        <ul>
          <li>Kies standaard, VIP of kleine ondernemer</li>
          <li>Geef aan hoeveel tafels je wilt huren</li>
          <li>Vul de rest van de gegevens hieronder in</li>
          <li>Je ontvangt binnen enkele werkdagen bevestiging en een factuur</li>
        </ul>
        <p>Vragen? Mail ons gerust op info&#64;splashofmagic.nl of neem contact op via het contactformulier.</p>
      </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: center;">
      <app-standhouders-aanmelden></app-standhouders-aanmelden>
    </div>
  </div>

</div>
